<h1>HomePages#index</h1>
<p>Find me in app/views/home_pages/index.html.erb</p>
<table>
	<tr><td>NAME</td><td><%= @lec.name %></td></tr>
	<tr><td>EMP_N0</td><td><%= @lec.emp_no %></td></tr>
	<tr><td>MOBILE_NO</td><td><%= @lec.mobile_no %></td></tr>
	<tr><td>EMAIL_ID</td><td><%= @lec.email_id %></td></tr>
	<tr><td>DOB</td><td><%= @lec.dob %></td></tr>
	<tr><td>ADDRESS</td><td><%= @lec.address %></td></tr></tr>

</table>
	
	
	
	
	
